$fontFamily: 'Helvetica';

$fontSizeSm: 16px;
$fontSizeBase: 20px;
$fontSizeLg: 40px;
$fontSizeXl: 50px;

$fontSizeNavBar: 30px;

$lineHeightSm: 18px;
$lineHeightBase: 24px;
$lineHeightLg: 36px;
$lineHeightXl: 36px;

$fontNormal: 400;
$fontMedium: 500;
$fontSemibold: 600;
$fontBold: 700;

$mainBgColor: #ddd0c8;
$mainTextColor: #323232;

$buttonBgColor: #4f4f4f;
$linkButtonBgColor: #735847;
$iconButtonBgColor: #a98773;

$navBarBgColor: #bfa798;
$navBarMenuBgColor: #cebbb0;
