$fontFamily: 'Helvetica';

$fontSizeSm: 0.875rem;
$fontSizeBase: 1rem;
$fontSizeLg: 1.125rem;
$fontSizeXl: 1.25rem;

$lineHeightSm: 1.25rem;
$lineHeightBase: 1.5rem;
$lineHeightLg: 1.75rem;
$lineHeightXl: 1.75rem;

$fontNormal: 400;
$fontMedium: 500;
$fontSemibold: 600;
$fontBold: 700;

$mainBgColor: #ddd0c8;
$mainTextColor: #323232;
